body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
a {
   text-decoration: none;
  }
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* index*/

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  outline: none;
  background-color: #81b3d2;
  border: none;
  width: 458px;
  height:58px;
  font-size: 21px;
}

.button:hover,
.button:active {
  background-color: #669ec0;
}

.button:focus{
  color:#88b6d1;
  background-color:#5496bd;
}
.main-navigation{
  display: flex;
}
.features-item1{
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: space-between;
  align-items:center;
  color: #ffffff;
}
.service-list{
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: space-between;
}
.service-item{
  width: 400px;
  padding: 130px 55px 30px 50px;

}
.service-house{
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
.service-food{
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
.service-souvenir{
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
.features-item2{
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: space-between;
  flex-direction:row-reverse;
  align-items:center;
  color: #ffffff;
}
.features-wrapper{
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
  height:256px;

}
.others-features{
  display:flex;
  padding:0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  background-color: #eeeeee;
}
.features-item{
  width: 400px;
  margin: 0;
  padding: 40px 60px;
}
.site-navigation {
  list-style: none;
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:focus{
  color: rgba(0,0,0,0.3);
}
.site-navigation-curent{
  color: #766357;
}
.features,
.features-item,
.hotel-search {
  text-align: center;
}

.features-item1 h3,
.features-item2 h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.features h2,
.service-item h4,
.features-item h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

}

.hotel-search h2{
  font-size: 30px;
  font-weight: bold;
  color:#000000;
}

button.hotel-search{
  width: 568px;
  height:86px;
  font:inherit;
  text-transform: uppercase;
  text-align: center;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  border: none;
  vertical-align:middle;
  outline: none;
}

button.hotel-search:hover,
button.hotel-search:active{
    background-color:#604e43
}

button.hotel-search:focus{
    background-color:#503e33;
    color: rgba(255,255,255,0.3)
}

.hotel-search-form {
  color:#000000;
  text-align: center;
}

.hotel-search-form input{
  font:inherit;
  background-color:#f2f2f2;
  border: none;
  outline: none;
}

.hotel-search-form input:hover,
.hotel-search-form input:active{
  font:inherit;
  background-color:#ebebeb;
  border: none;
  outline: none;
}


.hotel-search-form input:focus{
  font:inherit;
  background-color:#ffffff;
  border: 2px solid;
  border-color: #ebebeb;
}

a.copyright-logo svg:hover,
a.copyright-logo svg:active{
  fill:#81b3d2;
}

a.copyright-logo svg:focus{
  fill:#bdbbbc;
}
.main-footer{
  margin: 0;
  padding:50px 36px;
}
.main-footer .container{
  display: flex;
  justify-content: space-between;
}
.filter-option{
  width: 155px;
}
.copyright{
  width: 205px;
}
.footer-social ul {
  list-style: none;
}

.social-batton {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-batton:hover,
.social-batton:active{
  background-color: #669ec0;
}

.social-batton:focus{
  background-color: #5496bd;
}

/*inner*/

.site-navigation .site-navigation-curent a{
  color:#766357;
}
.filters{
  height: 218px;
  background: #678eb5 url("../img/filters-hotels.jpg") no-repeat;
  color: #ffffff;
  font-weight: normal;
  display: flex;
}
.value{
  width: 328px;
  margin: 0;
}
.infrastructure,
.type {
  width: 150px;
  margin-left: 73px;
  padding-top: 23px;
}
.filters fieldset,
.sorting fieldset{
  border:none;
}

.filters legend{
  font-size: 16px;
  color:#ffffff;
  font-weight: bold;
}

ul .filter-option,
ul .sorting-option,
ul.catalog-list{
  list-style:none;
}

ul .sorting-option{
  display: inline;
}
button.filter-button{
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  outline: none;
  background: transparent;
  background-color: transparent;
  width: 137px;
  height:36px;
  font-size: 14px;
  border: 0;
  border: 2px solid #fff;
}
button.filter-button:hover,
button.filter-button:active{
  background-color: #ffffff;
  color:#000000
}
.sorting{
  margin: 0;
  padding: 0;
  display: flex;
  height: 86px;
  border-bottom: 1px solid #818181;
}
.sorting h2{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color:#000000;
}
 .sorting legend{
   font-size: 12px;
   font-weight: normal;
   color:#000000;
 }
 .sorting-option a{
   font-size: 12px;
   color: rgba(0,0,0,0.3);
   font-weight: normal;
   border-bottom: 1px dashed;
 }
 .sorting-option a:hover{
   font-size: 12px;
   color: #81b3d2;
   font-weight: normal;
   border-bottom: 1px dashed;
 }
 .sorting-option a:active{
   font-size: 12px;
   color: #000000;
   font-weight: normal;
   border-bottom:none;
 }
 .sorting-option a:focus{
   font-size: 12px;
   color: #81b3d2;
   font-weight: normal;
   border-bottom:none;
 }

a.ascending svg:focus,
a.descending svg:focus{
  fill:#81b3d2
}
.catalog-item{
  margin: 0;
  padding : 0;
  display: flex;
  border-bottom: 1px solid #818181;
}
.rating{
  justify-content: flex-end;
}
.catalog-list a {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}
.catalog-list a:hover {
  color: #81b3d2;
}
.catalog-list a:active {
  color: rgba(0,0,0,0.3);
}
ul.catalog-rating {
  list-style-type:none;
}

ul.catalog-rating li {
  display: inline;
}
p.catalog-rating {
  background-color: #f2f2f2;
  width: 110px;
  height: 25px;
  text-align: center;
  color:#666666;
  font-weight: normal;
}
ul.catalog-list{
  font-weight: normal;
}
a.button-more {
  font: inherit;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  vertical-align: middle;
  outline: none;
  background-color: #81b3d2;
  border: none;
  width: 110px;
  height: 27px;
  font-size:normal;
}
a.button-more:hover {
  color:#ffffff;
  background-color: #669ec0
}
a.button-more:active {
    color:rgba(255,255,255,0.3);
  background-color: #5496bd
}

a.button-reservation{
  font: inherit;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  vertical-align: middle;
  outline: none;
  background-color: #766357;
  border: none;
  width: 142px;
  height: 27px;
  font-size:normal;
}
a.button-reservation:hover{
  color:#ffffff;
  background-color: #604e43;
}
a.button-reservation:active{
  color:rgba(255,255,255,0.3);
  background-color: #503e33;
}
